# Development | Read the instances data

In [1]:
%load_ext autoreload
%autoreload 2
%matplotlib inline
%matplotlib widget

In [2]:
import os
import jupyter_black

jupyter_black.load()

# Project
from src.data_connectors import read_input_files

In [3]:
instances_path = "../data/input/HRTInstances"
ins_x = read_input_files.read_file(os.path.join(instances_path, "Instance_217.txt"))

In [4]:
ins_x.df_resource_job_time.head()

   Resource  Job  Time
0         0    1    13
1         1    1     1
2         0    2    35
3         0    3     5
4         0    4    30

In [5]:
ins_x.df_resource_resource_job_time

Empty DataFrame
Columns: [ResourceA, ResourceB, Job, Time]
Index: []

In [6]:
unique_jobs_ind = ins_x.df_resource_job_time.Job.unique()
unique_jobs_col = ins_x.df_resource_resource_job_time.Job.unique()

print(len(unique_jobs_ind))
print(len(unique_jobs_col))

# common
common_jobs = [j for j in unique_jobs_col if j in unique_jobs_ind]
print(len(common_jobs))

# ind not col
ind_not_col = [j for j in unique_jobs_ind if j not in unique_jobs_col]
print(len(ind_not_col))

# col not ind
col_not_ind = [j for j in unique_jobs_col if j not in unique_jobs_ind]
print(len(col_not_ind))

40
0
0
40
0

In [7]:
ins_x.df_workingspace_id.tail()

    WorkingSpace  Id
35             2  36
36             2  37
37             2  38
38             2  39
39             2  40

In [8]:
ins_x.df_predecessor_sucessor.tail()

    Predecessor  Sucessor
47           32        36
48           26        37
49           37        38
50           29        39
51           38        40

In [9]:
ins_x.df_resource_job_time.tail()

    Resource  Job  Time
45         0   37    30
46         0   38    27
47         0   39    54
48         2   39    94
49         0   40    88

In [10]:
ins_x.df_resource_resource_job_time.head()

Empty DataFrame
Columns: [ResourceA, ResourceB, Job, Time]
Index: []