# First search algorithm

In [1]:
%load_ext autoreload
%autoreload 2
%matplotlib inline
%matplotlib widget

In [2]:
import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import jupyter_black

jupyter_black.load()

# Project
from src.data_connectors import read_input_files
from src.data_preparation import search_space

In [7]:
instance = 336
instance = 217
instances_path = "../data/input/HRTInstances"
ins_x = read_input_files.read_file(
    os.path.join(instances_path, f"Instance_{instance}.txt")
)

In [8]:
ins_x.df_resources

  Type  Id
0    H   0
1    R   1
2    R   2

In [9]:
ins_x.df_setup

  Humans Robots WorkingSpaces
0      1      2             2

In [10]:
df_prepared = search_space.get_all_times_in_different_columns_per_task(ins_x)
df_prepared.head()

/Users/patriciarodrigues/Documents/GitHubPhD/HM_HRT/src/data_preparation/search_space.py:80: FutureWarning: pivot_table dropped a column because it failed to aggregate. This behavior is deprecated and will raise in a future version of pandas. Select only the columns that can be aggregated.
  df_times_per_resource = pd.pivot_table(

   MainJob  Job     0    1   2 Predecessors
0        0    1  13.0  1.0 NaN           []
1        0    2  35.0  NaN NaN          [1]
2        0    3   5.0  NaN NaN          [2]
3        0    4  30.0  NaN NaN       [1, 2]
4        0    5  99.0  NaN NaN       [1, 3]

## Logic

In [11]:
df_prepared[df_prepared.Predecessors.isin([[1], [5]])]

    MainJob  Job     0    1   2 Predecessors
1         0    2  35.0  NaN NaN          [1]
10        0   11  10.0  5.0 NaN          [1]