# Analyse the GA results

In [218]:
%load_ext autoreload
%autoreload 2
%matplotlib inline

%matplotlib widget

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [235]:
import os
import numpy as np
import pandas as pd
import logging
import pickle
import jupyter_black
from tqdm import tqdm

from src.data_connectors import write_solution_files
from src.data_connectors import read_input_files
from src.data_connectors import read_solutions_files
from src.genetic_algorithm import constants

jupyter_black.load()

logging.basicConfig()
logging.getLogger().setLevel(logging.INFO)

## Read the results

In [220]:
# filename = "../data/solutions/all_ga_MMTSP_SAC_swap.pkl"
# filename = "../data/solutions/all_ga_MMTSP_SAC_sorted_paretns.pkl"
filename = "../data/solutions/all_ga_MMTSP_SAC.pkl"
with open(filename, "rb") as f:
    loaded_results = pickle.load(f)

In [221]:
len(loaded_results)

120

In [222]:
# First instance
loaded_results[0][-1]

217

In [223]:
# Last instance
loaded_results[-1][-1]

336

### Get Latency results

In [247]:
latencies = []
for instance_number in constants.INSTANCES_LIST:
    latency = read_solutions_files.read_latency_from_solutions_header(
        filename=f"../data/solutions/MMTSP-SAC/solution_{instance_number}.txt"
    )
    latencies.append(latency)

## Process results

list[all_surviving_chromosomes, all_surviving_makespans, best_makespan, duration_until_best_makespan]

In [224]:
instances_path = "../data/input/HRTInstances/"
instances_list = [x for x in range(217, 221)]

times_of_best_results = []

for best, instance_number in tqdm(zip(loaded_results, instances_list)):
    ins_x = ins_x = read_input_files.read_file(
        os.path.join(instances_path, f"Instance_{instance_number}.txt")
    )
    times_of_best_results.append(write_solution_files.find_times_of_best_solution(ins_x, best))

4it [00:00, 13.06it/s]

In [225]:
len(times_of_best_results)

4

In [226]:
times_of_best_results[0]

{'2': {21: (0, 1), 28: (74, 84), 31: (85, 90), 36: (836, 841), 39: (842, 936)},
 '1': {1: (0, 1), 8: (38, 48), 11: (49, 54), 16: (791, 796), 19: (797, 891)},
 '0': {2: (2, 37),
  22: (38, 73),
  3: (74, 79),
  23: (80, 85),
  4: (86, 116),
  24: (117, 147),
  5: (148, 247),
  25: (248, 347),
  6: (348, 384),
  26: (385, 421),
  7: (422, 463),
  27: (464, 505),
  9: (506, 526),
  29: (527, 547),
  10: (548, 646),
  30: (647, 745),
  12: (746, 790),
  32: (791, 835),
  13: (836, 883),
  33: (884, 931),
  14: (932, 969),
  34: (970, 1007),
  15: (1008, 1069),
  35: (1070, 1131),
  17: (1132, 1162),
  37: (1163, 1193),
  18: (1194, 1221),
  38: (1222, 1249),
  20: (1250, 1338),
  40: (1339, 1427)}}

## Optimal Solutions

In [227]:
df_optimal = pd.read_csv("../data/solutions/optimal/OptimalSolutions.csv", sep=";", header=1)

df_optimal.head()

,Instance,Humans,Robots,Robot Eligibility,Optimal solution,Best known solution,Lower bound
0,217,1,2,"0,25",1397.0,1397,1397
1,218,1,2,"0,5",865.0,865,865
2,219,1,2,1,529.0,529,529
3,220,1,2,"0,25",3316.0,3316,3316
4,221,1,2,"0,5",2476.0,2476,2476

In [228]:
def get_gap(df_optimal: pd.DataFrame, instance_number: int, best: tuple) -> float:
    lower_bound = df_optimal[df_optimal.Instance == instance_number]["Lower bound"].values[0]
    ins_result = best[2]
    gap = (ins_result - lower_bound) / lower_bound * 100
    logging.debug(f"Lower Bound: {lower_bound}, Result {ins_result}")
    logging.debug(f"Instance {instance_number} has Gap % = {gap:.2f} %")
    return gap

In [229]:
instances_list = [x for x in range(217, 336)]

pct_deviation_from_best = []

for best in tqdm(loaded_results):
    instance_number = best[-1]
    optimal = df_optimal[df_optimal.Instance == instance_number]["Optimal solution"].values[0]
    best_know = df_optimal[df_optimal.Instance == instance_number]["Best known solution"].values[0]
    logging.debug(f"Optimal: {optimal}, Best Known: {best_know}")
    gap = get_gap(df_optimal, instance_number, best)
    logging.debug(f"Instance {instance_number} has Gap % = {gap:.2f} %")

100%|██████████| 120/120 [00:00<00:00, 2866.48it/s]

## Group by type

In [230]:
df_instance_groups = (
    df_optimal.groupby(["Humans", "Robots", "Robot Eligibility"]).Instance.apply(list).reset_index()
)
df_instance_groups


all_gaps = []
all_is_optimal = []
all_lower_gaps = []
for idx, row_group in tqdm(df_instance_groups.iterrows()):
    gap_group = []
    is_optimal_group = []
    lower_gaps = []
    for best in tqdm(loaded_results):
        instance_number = best[-1]
        if instance_number in row_group.Instance:
            gap_x = get_gap(df_optimal, instance_number, best)
            gap_group.append(gap_x)
            if gap_x == 0:
                is_optimal_group.append(1)
            else:
                is_optimal_group.append(0)
            if gap_x <= 10:
                lower_gaps.append(1)
            else:
                lower_gaps.append(0)

    all_gaps.append(gap_group)
    all_is_optimal.append(is_optimal_group)
    all_lower_gaps.append(lower_gaps)

df_instance_groups["Gaps"] = all_gaps
df_instance_groups["optimals"] = all_is_optimal
df_instance_groups["lower_gaps"] = all_lower_gaps
df_instance_groups["Gaps%"] = round(df_instance_groups["Gaps"].apply(lambda x: sum(x) / len(x)), 2)
df_instance_groups["# optimals"] = df_instance_groups["optimals"].apply(lambda x: sum(x))
df_instance_groups["# all_lower_gaps"] = df_instance_groups["lower_gaps"].apply(lambda x: sum(x))

100%|██████████| 120/120 [00:00<00:00, 64893.82it/s]
100%|██████████| 120/120 [00:00<00:00, 63048.54it/s]
100%|██████████| 120/120 [00:00<00:00, 68853.14it/s]
100%|██████████| 120/120 [00:00<00:00, 66699.77it/s]
100%|██████████| 120/120 [00:00<00:00, 66532.25it/s]
100%|██████████| 120/120 [00:00<00:00, 67028.43it/s]
100%|██████████| 120/120 [00:00<00:00, 66479.52it/s]
100%|██████████| 120/120 [00:00<00:00, 66086.72it/s]
100%|██████████| 120/120 [00:00<00:00, 67001.66it/s]
100%|██████████| 120/120 [00:00<00:00, 58647.92it/s]
100%|██████████| 120/120 [00:00<00:00, 64977.60it/s]
100%|██████████| 120/120 [00:00<00:00, 66400.59it/s]
12it [00:00, 299.41it/s]

In [231]:
np.mean(all_gaps)

32.760640583474974

In [232]:
np.std(all_gaps)

26.799644979226

In [233]:
df_instance_groups

,Humans,Robots,Robot Eligibility,Instance,Gaps,optimals,lower_gaps,Gaps%,# optimals,# all_lower_gaps
0,1,2,"0,25","[217, 220, 229, 232, 241, 244, 253, 256, 265, ...","[2.1474588403722263, 2.261761158021713, 10.086...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]","[1, 1, 0, 0, 0, 0, 0, 0, 0, 0]",15.46,0,2
1,1,2,"0,5","[218, 221, 230, 233, 242, 245, 254, 257, 266, ...","[3.9306358381502893, 5.775444264943457, 7.8549...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]","[1, 1, 1, 1, 1, 1, 0, 0, 1, 0]",14.96,0,7
2,1,2,1,"[219, 222, 231, 234, 243, 246, 255, 258, 267, ...","[22.306238185255197, 14.576271186440678, 8.232...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]","[0, 0, 1, 0, 0, 0, 0, 0, 1, 0]",34.45,0,2
3,1,3,"0,25","[223, 226, 235, 238, 247, 250, 259, 262, 271, ...","[1.7275225755791126, 2.319376026272578, 7.9790...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]","[1, 1, 1, 1, 0, 1, 0, 1, 1, 1]",8.72,0,8
4,1,3,"0,5","[224, 227, 236, 239, 248, 251, 260, 263, 272, ...","[1.5271195365982098, 5.405405405405405, 4.4159...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]","[1, 1, 1, 0, 0, 0, 0, 0, 0, 1]",20.08,0,4
5,1,3,1,"[225, 228, 237, 240, 249, 252, 261, 264, 273, ...","[14.727540500736378, 33.13990973565441, 19.629...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]",39.92,0,0
6,2,2,"0,25","[277, 280, 289, 292, 301, 304, 313, 316, 325, ...","[8.960176991150442, 17.404737384140063, 10.807...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]","[1, 0, 0, 0, 0, 0, 1, 0, 0, 0]",33.08,0,2
7,2,2,"0,5","[278, 281, 290, 293, 302, 305, 314, 317, 326, ...","[8.362369337979095, 28.043282236248874, 27.748...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]","[1, 0, 0, 0, 0, 0, 0, 0, 0, 0]",37.39,0,1
8,2,2,1,"[279, 282, 291, 294, 303, 306, 315, 318, 327, ...","[25.510204081632654, 30.857142857142854, 26.40...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]",47.43,0,0
9,2,3,"0,25","[283, 286, 295, 298, 307, 310, 319, 322, 331, ...","[3.1847133757961785, 11.877107530910454, 31.25...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]","[1, 0, 0, 0, 0, 0, 0, 0, 0, 0]",37.50,0,1
10,2,3,"0,5","[284, 287, 296, 299, 308, 311, 320, 323, 332, ...","[18.66883116883117, 71.11220472440945, 13.8954...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]",48.54,0,0
11,2,3,1,"[285, 288, 297, 300, 309, 312, 321, 324, 333, ...","[24.029126213592235, 45.932621199671324, 24.05...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]",55.59,0,0

In [234]:
df_instance_groups["# all_lower_gaps"].sum()

27

In [248]:
np.mean(latencies)

172.98583333333335

In [257]:
np.mean(latencies) / 60

2.8830972222222226

In [250]:
np.sum(latencies) / 60 / 60

5.766194444444445

In [260]:
len([x for x in latencies if x < 60])

20

In [261]:
len(latencies)

120

In [262]:
20 / 120

0.16666666666666666