# Read the instances data

In [89]:
%load_ext autoreload
%autoreload 2
%matplotlib inline
%matplotlib widget

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [90]:
import pandas as pd
import numpy as np
import os
import jupyter_black

jupyter_black.load()

# Project
from src.data_connectors import read_input_files

In [91]:
instances_path = "../data/input/HRTInstances"
filename = os.path.join(instances_path, "Instance_217.txt")

In [92]:
ins_217 = read_input_files.read_file(filename)

In [94]:
ins_217.df_workingspace_id

    WorkingSpace  Id
0              1   1
1              1   2
2              1   3
3              1   4
4              1   5
5              1   6
6              1   7
7              1   8
8              1   9
9              1  10
10             1  11
11             1  12
12             1  13
13             1  14
14             1  15
15             1  16
16             1  17
17             1  18
18             1  19
19             1  20
20             2  21
21             2  22
22             2  23
23             2  24
24             2  25
25             2  26
26             2  27
27             2  28
28             2  29
29             2  30
30             2  31
31             2  32
32             2  33
33             2  34
34             2  35
35             2  36
36             2  37
37             2  38
38             2  39
39             2  40

In [83]:
df_resources

  Type  Id
0    H   0
1    R   1
2    R   2

In [84]:
df_workingspace_resources

   WorkingSpace  Resource
0             1         1
1             1         0
2             2         2
3             2         0

In [85]:
df_workingspace_id

    WorkingSpace  Id
0              1   1
1              1   2
2              1   3
3              1   4
4              1   5
5              1   6
6              1   7
7              1   8
8              1   9
9              1  10
10             1  11
11             1  12
12             1  13
13             1  14
14             1  15
15             1  16
16             1  17
17             1  18
18             1  19
19             1  20
20             2  21
21             2  22
22             2  23
23             2  24
24             2  25
25             2  26
26             2  27
27             2  28
28             2  29
29             2  30
30             2  31
31             2  32
32             2  33
33             2  34
34             2  35
35             2  36
36             2  37
37             2  38
38             2  39
39             2  40

In [86]:
df_predecessor_sucessor

    Predecessor  Sucessor
0             1         2
1             2         3
2             1         4
3             2         4
4             1         5
5             3         5
6             2         6
7             3         6
8             6         7
9             3         7
10            2         8
11            1         8
12            7         9
13            5        10
14            7        10
15            1        11
16            5        12
17           11        12
18            9        13
19            7        14
20            2        15
21           12        16
22            6        17
23           17        18
24            9        19
25           18        20
26           21        22
27           22        23
28           21        24
29           22        24
30           21        25
31           23        25
32           22        26
33           23        26
34           26        27
35           23        27
36           22        28
37           21        28
38           27        29
39           25        30
40           27        30
41           21        31
42           25        32
43           31        32
44           29        33
45           27        34
46           22        35
47           32        36
48           26        37
49           37        38
50           29        39
51           38        40

In [87]:
df_resource_job_time

    Resource  Job  Time
0          0    1    13
1          1    1     1
2          0    2    35
3          0    3     5
4          0    4    30
5          0    5    99
6          0    6    36
7          0    7    41
8          0    8    40
9          1    8    10
10         0    9    20
11         0   10    98
12         0   11    10
13         1   11     5
14         0   12    44
15         0   13    47
16         0   14    37
17         0   15    61
18         0   16    13
19         1   16     5
20         0   17    30
21         0   18    27
22         0   19    54
23         1   19    94
24         0   20    88
25         0   21    13
26         2   21     1
27         0   22    35
28         0   23     5
29         0   24    30
30         0   25    99
31         0   26    36
32         0   27    41
33         0   28    40
34         2   28    10
35         0   29    20
36         0   30    98
37         0   31    10
38         2   31     5
39         0   32    44
40         0   33    47
41         0   34    37
42         0   35    61
43         0   36    13
44         2   36     5
45         0   37    30
46         0   38    27
47         0   39    54
48         2   39    94
49         0   40    88