# Analyse the GA results

In [14]:
%load_ext autoreload
%autoreload 2
%matplotlib inline

%matplotlib widget

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [15]:
import os
import numpy as np
import pandas as pd
import logging
import pickle
import jupyter_black
from tqdm import tqdm

from src.data_connectors import write_solution_files
from src.data_connectors import read_input_files

jupyter_black.load()

logging.basicConfig()
logging.getLogger().setLevel(logging.INFO)

## Read the results

In [3]:
with open("../data/solutions/all_ga_MMTSP_SAC.pkl", "rb") as f:
    loaded_results = pickle.load(f)

In [4]:
len(loaded_results)

120

In [5]:
# First instance
loaded_results[0][-1]

217

In [6]:
# Last instance
loaded_results[-1][-1]

336

## Process results

list[all_surviving_chromosomes, all_surviving_makespans, best_makespan, duration_until_best_makespan]

In [7]:
instances_path = "../data/input/HRTInstances/"
instances_list = [x for x in range(217, 221)]

times_of_best_results = []

for best, instance_number in tqdm(zip(loaded_results, instances_list)):
    ins_x = ins_x = read_input_files.read_file(
        os.path.join(instances_path, f"Instance_{instance_number}.txt")
    )
    times_of_best_results.append(write_solution_files.find_times_of_best_solution(ins_x, best))

4it [00:00, 12.23it/s]

In [8]:
times_of_best_results[0]

{'1': {1: (0, 1), 8: (38, 48), 11: (49, 54), 16: (419, 424), 19: (425, 519)},
 '0': {2: (2, 37),
  3: (38, 43),
  4: (44, 74),
  5: (75, 174),
  6: (175, 211),
  7: (212, 253),
  9: (254, 274),
  10: (275, 373),
  12: (374, 418),
  13: (419, 466),
  14: (467, 504),
  15: (505, 566),
  17: (567, 597),
  18: (598, 625),
  20: (626, 714),
  22: (715, 750),
  23: (751, 756),
  24: (757, 787),
  25: (788, 887),
  26: (888, 924),
  27: (925, 966),
  29: (967, 987),
  30: (988, 1086),
  32: (1087, 1131),
  33: (1132, 1179),
  34: (1180, 1217),
  35: (1218, 1279),
  37: (1280, 1310),
  38: (1311, 1338),
  40: (1339, 1427)},
 '2': {21: (0, 1),
  28: (751, 761),
  31: (762, 767),
  36: (1132, 1137),
  39: (1138, 1232)}}

## Optimal Solutions

In [9]:
df_optimal = pd.read_csv("../data/solutions/optimal/OptimalSolutions.csv", sep=";", header=1)

df_optimal.head()

,Instance,Humans,Robots,Robot Eligibility,Optimal solution,Best known solution,Lower bound
0,217,1,2,"0,25",1397.0,1397,1397
1,218,1,2,"0,5",865.0,865,865
2,219,1,2,1,529.0,529,529
3,220,1,2,"0,25",3316.0,3316,3316
4,221,1,2,"0,5",2476.0,2476,2476

In [10]:
def get_gap(df_optimal: pd.DataFrame, instance_number: int, best: tuple) -> float:
    lower_bound = df_optimal[df_optimal.Instance == instance_number]["Lower bound"].values[0]
    ins_result = best[2]
    gap = (ins_result - lower_bound) / lower_bound * 100
    logging.debug(f"Lower Bound: {lower_bound}, Result {ins_result}")
    logging.debug(f"Instance {instance_number} has Gap % = {gap:.2f} %")
    return gap

In [11]:
instances_list = [x for x in range(217, 336)]

pct_deviation_from_best = []

for best in tqdm(loaded_results):
    instance_number = best[-1]
    optimal = df_optimal[df_optimal.Instance == instance_number]["Optimal solution"].values[0]
    best_know = df_optimal[df_optimal.Instance == instance_number]["Best known solution"].values[0]
    logging.debug(f"Optimal: {optimal}, Best Known: {best_know}")
    gap = get_gap(df_optimal, instance_number, best)
    logging.info(f"Instance {instance_number} has Gap % = {gap:.2f} %")

  0%|          | 0/120 [00:00<?, ?it/s]INFO:root:Instance 217 has Gap % = 2.15 %
INFO:root:Instance 218 has Gap % = 24.51 %
INFO:root:Instance 219 has Gap % = 28.36 %
INFO:root:Instance 220 has Gap % = 6.60 %
INFO:root:Instance 221 has Gap % = 23.10 %
INFO:root:Instance 222 has Gap % = 47.53 %
INFO:root:Instance 223 has Gap % = 8.09 %
INFO:root:Instance 224 has Gap % = 6.42 %
INFO:root:Instance 225 has Gap % = 36.23 %
INFO:root:Instance 226 has Gap % = 2.63 %
INFO:root:Instance 227 has Gap % = 14.97 %
INFO:root:Instance 228 has Gap % = 42.10 %
INFO:root:Instance 229 has Gap % = 23.27 %
INFO:root:Instance 230 has Gap % = 31.62 %
INFO:root:Instance 231 has Gap % = 46.39 %
INFO:root:Instance 232 has Gap % = 16.42 %
INFO:root:Instance 233 has Gap % = 11.40 %
INFO:root:Instance 234 has Gap % = 54.49 %
INFO:root:Instance 235 has Gap % = 7.98 %
INFO:root:Instance 236 has Gap % = 20.30 %
INFO:root:Instance 237 has Gap % = 30.60 %
INFO:root:Instance 238 has Gap % = 11.11 %
INFO:root:Instance 239 has Gap % = 37.47 %
INFO:root:Instance 240 has Gap % = 73.06 %
INFO:root:Instance 241 has Gap % = 21.59 %
INFO:root:Instance 242 has Gap % = 16.00 %
INFO:root:Instance 243 has Gap % = 32.68 %
INFO:root:Instance 244 has Gap % = 11.53 %
INFO:root:Instance 245 has Gap % = 28.59 %
INFO:root:Instance 246 has Gap % = 55.21 %
INFO:root:Instance 247 has Gap % = 23.31 %
INFO:root:Instance 248 has Gap % = 45.46 %
INFO:root:Instance 249 has Gap % = 52.73 %
INFO:root:Instance 250 has Gap % = 9.17 %
INFO:root:Instance 251 has Gap % = 32.86 %
INFO:root:Instance 252 has Gap % = 79.83 %
INFO:root:Instance 253 has Gap % = 34.43 %
INFO:root:Instance 254 has Gap % = 50.81 %
INFO:root:Instance 255 has Gap % = 51.10 %
INFO:root:Instance 256 has Gap % = 36.09 %
INFO:root:Instance 257 has Gap % = 60.12 %
INFO:root:Instance 258 has Gap % = 77.82 %
INFO:root:Instance 259 has Gap % = 27.58 %
INFO:root:Instance 260 has Gap % = 49.29 %
INFO:root:Instance 261 has Gap % = 28.75 %
INFO:root:Instance 262 has Gap % = 9.85 %
INFO:root:Instance 263 has Gap % = 67.83 %
INFO:root:Instance 264 has Gap % = 85.02 %
INFO:root:Instance 265 has Gap % = 27.38 %
INFO:root:Instance 266 has Gap % = 42.90 %
INFO:root:Instance 267 has Gap % = 32.17 %
INFO:root:Instance 268 has Gap % = 28.41 %
INFO:root:Instance 269 has Gap % = 38.55 %
INFO:root:Instance 270 has Gap % = 70.33 %
INFO:root:Instance 271 has Gap % = 12.30 %
INFO:root:Instance 272 has Gap % = 51.13 %
INFO:root:Instance 273 has Gap % = 42.00 %
INFO:root:Instance 274 has Gap % = 8.13 %
INFO:root:Instance 275 has Gap % = 17.75 %
INFO:root:Instance 276 has Gap % = 106.93 %
INFO:root:Instance 277 has Gap % = 44.25 %
INFO:root:Instance 278 has Gap % = 11.85 %
INFO:root:Instance 279 has Gap % = 65.31 %
INFO:root:Instance 280 has Gap % = 10.92 %
INFO:root:Instance 281 has Gap % = 41.21 %
INFO:root:Instance 282 has Gap % = 55.09 %
INFO:root:Instance 283 has Gap % = 11.68 %
INFO:root:Instance 284 has Gap % = 55.84 %
INFO:root:Instance 285 has Gap % = 72.82 %
INFO:root:Instance 286 has Gap % = 7.98 %
INFO:root:Instance 287 has Gap % = 37.40 %
INFO:root:Instance 288 has Gap % = 83.07 %
INFO:root:Instance 289 has Gap % = 23.23 %
INFO:root:Instance 290 has Gap % = 47.38 %
INFO:root:Instance 291 has Gap % = 67.52 %
INFO:root:Instance 292 has Gap % = 13.69 %
INFO:root:Instance 293 has Gap % = 51.23 %
INFO:root:Instance 294 has Gap % = 60.79 %
INFO:root:Instance 295 has Gap % = 44.01 %
INFO:root:Instance 296 has Gap % = 34.56 %
INFO:root:Instance 297 has Gap % = 41.51 %
 68%|██████▊   | 81/120 [00:00<00:00, 802.99it/s]INFO:root:Instance 298 has Gap % = 26.48 %
INFO:root:Instance 299 has Gap % = 50.62 %
INFO:root:Instance 300 has Gap % = 104.06 %
INFO:root:Instance 301 has Gap % = 42.93 %
INFO:root:Instance 302 has Gap % = 55.51 %
INFO:root:Instance 303 has Gap % = 71.51 %
INFO:root:Instance 304 has Gap % = 25.91 %
INFO:root:Instance 305 has Gap % = 42.74 %
INFO:root:Instance 306 has Gap % = 63.95 %
INFO:root:Instance 307 has Gap % = 37.86 %
INFO:root:Instance 308 has Gap % = 83.67 %
INFO:root:Instance 309 has Gap % = 115.50 %
INFO:root:Instance 310 has Gap % = 19.14 %
INFO:root:Instance 311 has Gap % = 47.51 %
INFO:root:Instance 312 has Gap % = 93.86 %
INFO:root:Instance 313 has Gap % = 47.00 %
INFO:root:Instance 314 has Gap % = 87.83 %
INFO:root:Instance 315 has Gap % = 51.54 %
INFO:root:Instance 316 has Gap % = 56.51 %
INFO:root:Instance 317 has Gap % = 41.83 %
INFO:root:Instance 318 has Gap % = 55.92 %
INFO:root:Instance 319 has Gap % = 73.18 %
INFO:root:Instance 320 has Gap % = 38.28 %
INFO:root:Instance 321 has Gap % = 66.67 %
INFO:root:Instance 322 has Gap % = 61.12 %
INFO:root:Instance 323 has Gap % = 62.48 %
INFO:root:Instance 324 has Gap % = 101.74 %
INFO:root:Instance 325 has Gap % = 32.40 %
INFO:root:Instance 326 has Gap % = 44.62 %
INFO:root:Instance 327 has Gap % = 55.47 %
INFO:root:Instance 328 has Gap % = 63.96 %
INFO:root:Instance 329 has Gap % = 51.03 %
INFO:root:Instance 330 has Gap % = 73.01 %
INFO:root:Instance 331 has Gap % = 23.85 %
INFO:root:Instance 332 has Gap % = 48.07 %
INFO:root:Instance 333 has Gap % = 77.69 %
INFO:root:Instance 334 has Gap % = 23.20 %
INFO:root:Instance 335 has Gap % = 45.07 %
INFO:root:Instance 336 has Gap % = 99.18 %
100%|██████████| 120/120 [00:00<00:00, 727.30it/s]

## Group by type

In [12]:
df_instance_groups = (
    df_optimal.groupby(["Humans", "Robots", "Robot Eligibility"]).Instance.apply(list).reset_index()
)
df_instance_groups


all_gaps = []
for idx, row_group in tqdm(df_instance_groups.iterrows()):
    gap_group = []
    for best in tqdm(loaded_results):
        instance_number = best[-1]
        gap_x = get_gap(df_optimal, instance_number, best)
        gap_group.append(gap_x)
    all_gaps.append(gap_group)

df_instance_groups["Gaps"] = all_gaps
df_instance_groups["Gaps%"] = df_instance_groups["Gaps"].apply(lambda x: sum(x) / len(x))

100%|██████████| 120/120 [00:00<00:00, 8295.83it/s]
100%|██████████| 120/120 [00:00<00:00, 8871.67it/s]
100%|██████████| 120/120 [00:00<00:00, 8633.66it/s]
100%|██████████| 120/120 [00:00<00:00, 8470.35it/s]
100%|██████████| 120/120 [00:00<00:00, 8896.92it/s]
100%|██████████| 120/120 [00:00<00:00, 8775.77it/s]
100%|██████████| 120/120 [00:00<00:00, 8653.70it/s]
100%|██████████| 120/120 [00:00<00:00, 7910.42it/s]
100%|██████████| 120/120 [00:00<00:00, 5680.97it/s]
100%|██████████| 120/120 [00:00<00:00, 5144.49it/s]
100%|██████████| 120/120 [00:00<00:00, 7103.47it/s]
100%|██████████| 120/120 [00:00<00:00, 7981.30it/s]
12it [00:00, 52.43it/s]

In [19]:
df_instance_groups

,Humans,Robots,Robot Eligibility,Instance,Gaps,Gaps%
0,1,2,"0,25","[217, 220, 229, 232, 241, 244, 253, 256, 265, ...","[2.1474588403722263, 24.508670520231213, 28.35...",43.472149
1,1,2,"0,5","[218, 221, 230, 233, 242, 245, 254, 257, 266, ...","[2.1474588403722263, 24.508670520231213, 28.35...",43.472149
2,1,2,1,"[219, 222, 231, 234, 243, 246, 255, 258, 267, ...","[2.1474588403722263, 24.508670520231213, 28.35...",43.472149
3,1,3,"0,25","[223, 226, 235, 238, 247, 250, 259, 262, 271, ...","[2.1474588403722263, 24.508670520231213, 28.35...",43.472149
4,1,3,"0,5","[224, 227, 236, 239, 248, 251, 260, 263, 272, ...","[2.1474588403722263, 24.508670520231213, 28.35...",43.472149
5,1,3,1,"[225, 228, 237, 240, 249, 252, 261, 264, 273, ...","[2.1474588403722263, 24.508670520231213, 28.35...",43.472149
6,2,2,"0,25","[277, 280, 289, 292, 301, 304, 313, 316, 325, ...","[2.1474588403722263, 24.508670520231213, 28.35...",43.472149
7,2,2,"0,5","[278, 281, 290, 293, 302, 305, 314, 317, 326, ...","[2.1474588403722263, 24.508670520231213, 28.35...",43.472149
8,2,2,1,"[279, 282, 291, 294, 303, 306, 315, 318, 327, ...","[2.1474588403722263, 24.508670520231213, 28.35...",43.472149
9,2,3,"0,25","[283, 286, 295, 298, 307, 310, 319, 322, 331, ...","[2.1474588403722263, 24.508670520231213, 28.35...",43.472149
10,2,3,"0,5","[284, 287, 296, 299, 308, 311, 320, 323, 332, ...","[2.1474588403722263, 24.508670520231213, 28.35...",43.472149
11,2,3,1,"[285, 288, 297, 300, 309, 312, 321, 324, 333, ...","[2.1474588403722263, 24.508670520231213, 28.35...",43.472149