# Read the instances data

In [ ]:
%load_ext autoreload
%autoreload 2
%matplotlib inline
%matplotlib widget

:

In [ ]:
import os
import jupyter_black

jupyter_black.load()

# Project
from src.data_connectors import read_input_files

:

In [26]:
instances_path = "../data/input/HRTInstances"
ins_217 = read_input_files.read_file(
    os.path.join(instances_path, "Instance_217.txt")
)
ins_335 = read_input_files.read_file(
    os.path.join(instances_path, "Instance_265.txt")
)

In [27]:
ins_217.df_resource_job_time.head()

   Resource  Job  Time
0         0    1    13
1         1    1     1
2         0    2    35
3         0    3     5
4         0    4    30

In [28]:
ins_217.df_resource_resource_job_time

Empty DataFrame
Columns: [Resource, Resource, Job, Time]
Index: []

In [29]:
unique_jobs_ind = ins_335.df_resource_job_time.Job.unique()
unique_jobs_col = ins_335.df_resource_resource_job_time.Job.unique()

print(len(unique_jobs_ind))
print(len(unique_jobs_col))

# common
common_jobs = [j for j in unique_jobs_col if j in unique_jobs_ind]
print(len(common_jobs))

# ind not col
ind_not_col = [j for j in unique_jobs_ind if j not in unique_jobs_col]
print(len(ind_not_col))

# col not ind
col_not_ind = [j for j in unique_jobs_col if j not in unique_jobs_ind]
print(len(col_not_ind))

40
40
40
0
0

In [21]:
ins_217.df_workingspace_id.tail()

     WorkingSpace   Id
145             3  146
146             3  147
147             3  148
148             3  149
149             3  150

In [22]:
ins_217.df_predecessor_sucessor.tail()

     Predecessor  Sucessor
211          108       147
212          121       148
213          110       149
214          128       150
215          147       150

In [23]:
ins_217.df_resource_job_time.tail()

     Resource  Job  Time
331         0  149    24
332         1  149    24
333         4  149   134
334         0  150    64
335         1  150    64

In [24]:
ins_217.df_resource_resource_job_time.head()

   Resource  Resource  Job  Time
0         0         2    2    34
1         1         2    2    34
2         0         2    3    55
3         1         2    3    55
4         0         2    4    16